.wrapper {
  margin-top: 5rem;
  max-height: 70vh;
  min-height: 70vh;
  

  h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: white;
  }
  .removeZoneWrapper {
    height: 100%;
    border: 1px solid #d8cfaf;
    border-radius: 10px;
  }
}
